{% extends 'EkynaBackendBundle::base.html.twig' %}

{% block body %}
    <div class="content wide-content">
        <div class="settings-wrapper" id="pad-wrapper">
        {% block content %}
        {% endblock %}
        </div>
    </div>
{% endblock %}